
*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

header{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: blueviolet;
}

img#hero{
    width: 200px;
    border-radius: 100%;
    margin: 10px 0px 10px 0px;
}

h1#hero{
    color: white;
    font-size: 50px;
    font-family: 'Silkscreen', cursive;
}

nav{
    background-color: blueviolet;
}

ul{
    display: flex;
    justify-content: space-evenly;
    list-style: armenian;
}

li a{
    font-family: 'Silkscreen', cursive;
    font-size: 30px;
    text-decoration: none;
    color: white;
    width: 100%;
}

li a:hover{
    color: green;
}