*{
    margin: 0px;
}

header{
    height: 200px;
    width: 100%;
    background-color: aqua;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: url('./imgs/backgound.jpg');
    background-repeat: repeat-x;

}

nav{
    max-height: 50px;
    background-color: green;
}

main{
    background-color: antiquewhite;
}

footer{
    height: 25px;
    background-color: brown;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

img#hero{
    width: 120px;
    border-radius: 50%;
    margin-right: 30px;
}

h1#title{
    font-family: 'DynaPuff', cursive;
}

ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul li{
    margin: 10px;
    font-family: 'DynaPuff', cursive;
}

ul li a{
    text-decoration: none;
    color: black;
}

ul li a:hover{
    color: orange;
}